body {
  margin: 0;
  font-family: "Montserrat", "Open Sans", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-montserrat {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
